<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>To-Do vue.js</title>
</head>
<body>
  <div id="app">
      <h2>Adminsitrador de tareas</h2>
      <h3> {{ name }} </h3>
      <fieldset>
          <legend>Nueva tarea</legend>
          <p>
            <input type="text" v-model="newTask.title" placeholder="Ingrese la nueva tarea">
          </p>
          <p>
            <input type="number" v-model="newTask.time" placeholder="Horas trabajadas">
          </p>
          <p>
              <button @click="addTask">Guardar</button>
              <button @click="cancel">Cancelar</button>
          </p>
      </fieldset>
      <fieldset>
          <legend>Lista de tareas</legend>
          <p v-show="!tasks.length">No hay tareas pendientes</p>
          <div v-show="tasks.length">
              <ul>
                  <li v-for="t in tasks">
                      <span> {{t.title}} - {{t.time}} </span>
                      <span @click="removeTask(i)"> ❌ </span>
                  </li>
              </ul>
          </div>
      </fieldset>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
   <script>
      const app = new Vue({
        el: '#app',
        data () {
            return {
                name: '',
                tasks: [],
                newTask: {
                    title: '',
                    time: 0
                }
            }
        },
        methods:{
            addTask () {
                if (!this.newTask.time || !this.newTask.title) {
                    return
                }
                this.tasks.push({
                    title: this.newTask.title,
                    time: this.newTask.time
                })
                localStorage.setItem("tasks", JSON.stringify(this.tasks))
                this.newTask.title = ''
                this.newTask.time = 0
            },
            removeTask (index) {
                this.tasks.splice(index, 1)
                localStorage.setItem("tasks", JSON.stringify(this.tasks))
            },
            cancel () {
                this.newTask.title = '',
                this.newTask.time = 0
            }
        }
    })
  </script>
</body>
</html>